


* {
    
    margin: 0 auto  ;
    padding: 0;
   position: relative;
    font-family: 'monsterrat';
}

.promo_1 {
background-color: #FFA800;
    height: 800px;
width: 1520px;


}

.black_bg{
    position: absolute;
    height: 830.74px;
        left: 700px;
        top: -20px;
        width: 819px;

    background: #000000;
    transform: rotate(0.15deg);
}

.header_centre {
    display: flex;
    margin-left: 342px;

    text-decoration: none;



}

.bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15.7865px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.header_centre{
  gap: 10px;
  width: 390px;
}

.link  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15.7865px;
    line-height: 19px;
color: white;
    text-decoration: none;
}

.container{
    margin: 0 auto;
}

header {
    display: flex;
    position: fixed;
    padding: 26px 96px;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 100;
    width: 1520px;
    
}

.header_left img {
    width: 129.2px;
    height: 51.31px;
}

p {
    font-family: 'Montserrat';
}

.header_right_number {
    width: 500px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15.7865px;
    line-height: 19px;

    color: #FFFFFF;
    padding-left: 100px;
}

.box img{
    width: 96px;
    height: 96px;
padding-left: 103px ;
margin-top: 146px;
}


h1{
    padding-left: 99px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 59px;

color: #000000;
}


.button a{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 26px;

color: #000000;
text-decoration: none;

}

.button{
  display: flex;
  align-items: center;
    width: 250px;
    height: 50px;
 border-radius: 50px;
    margin-left: 99px;
    margin-top: 55px;
    background: linear-gradient(99.51deg, #C16767 0.96%, #FF0000 80.06%);

}




.button:hover{
    background: linear-gradient(99.51deg, #FF0000 0.1%, #C16767 69.06%);
transition: 0.9s;
transform: scale(1.1);
box-shadow: inset 0 0 0 1px #000;
margin-top: 45px;
box-shadow:
1px 1px #000,
2px 2px #000,
3px 3px #000,
4px 4px #000,
5px 5px black,

7px 7px black;
-webkit-transform: translateX(-7px);
transform: translateX(-7px);

    cursor: pointer;
}

.dostavka{
    display: flex;
}

.dostavka img{
    margin-left: 99px;
    margin-top: 70px;
    width: 70px;
height: 72px;
    
}

.dostavka_p{
padding-right: 1200px;
margin-top: 70px;
font-weight: 900;
font-size: 17.2372px;
line-height: 21px;

color: #000000;
}


.burger img{
    position: absolute;
    width: 720.01px;
    height: 535px;
    left: 600px;
    top: 188px;
    
}

.burger_1{
    position: absolute;
width: 672px;
height: 669px;
left: 800px;
top: 97px;
}

.tomato img{
    position: absolute;
width: 200px;
height: 200px;
left: 1200px;
top: 501px;
}

.promo_2{
    background-color: #000;
    height: 800px;
    width: 1520px;
}
.animation_text{
 

background: #FFA800;
display: flex;
align-items: center;
}

.animation_text p{
    animation: 2s 
     alternate infinite slidein;

    
   

    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #000000;
}


video{
  
height: 855px;

}

.burger____{
    color: white;
    margin-left: 400px;
    margin-top: 50px;
    
}

#myVideo{
  
    min-width: 100%;
 
   
}

#myBtn{
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: 
    rgba(255, 255, 255, 0.03);
    color: black;
    cursor: pointer;
    backdrop-filter: blur(8px);
    z-index: 100;
    position: absolute;
    top: 540px;
    left: 30%

}

.burger_information{
    width: 500px;
    height: 650px;

background: 
rgba(255, 255, 255, 0.03);
position: absolute;
top: 150px;
left: 550px;
backdrop-filter: blur(8px);
    z-index: 100;
   border-radius: 10px;
   color: white;
}

.burger_zagalovka{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}




.happy_burger_information{
    width: 400px;
    padding-top: 20px;
}




@keyframes slidein {
0%{
    margin-left: 0px;
}

100%{margin-left: 200px;}


  } 


@media (max-width:767px)

{
    .container{
        max-width: 767px;
    }

    .tomato{
        display: none;
    }

    .burger_1{
        display: none;
    }

    .burger{
        display: none;
    }

  .header_centre{
    margin-left: 50px;
    position: none;
  }
    

  header{
    width: 560px;
  }

  .promo_1{
    background-size: cover;
    width: 767px;
    height: 700px;
  }

  .header_right_number{
    display: none;
  }

  .dostavka{
   display: none;
  }

.black_bg{
    display: none;
}
.animation_text{
    width: 580px;
    margin-left: 0px;
    animation: ease-out;
}
.promo_2{
    width: 580px;
    height: 200px;
}

.burger____{
margin-left: 20px;
    width: 400px;
    font-size: 30px;
    
}

video{
width: 560px;
height: 400px;

}

.burger_information{
    left: 40px;
    height: 300px;
    top: 50px;
}

}







@media (max-width:580px) {
    .container{
        max-width: 100%;
    }

    header{
        width: 440px;
        text-align: center;
      }

      .promo_1{
        width: 580px;
      }
}



